{
  "presets": [
    ["env", {
      "debug": false,
      "modules": "commonjs",
      "targets": {
        "node": "current"
      },
      "useBuiltIns": true,
      "externalHelpers": true
    }],
  ]
}
